
html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.avatar__header__information {
    display: flex;
    margin-top: 20px;
    gap: 10px;
    border-bottom: 1px solid gray;
}

.avatar__username {
    font-family: cinzel;
    font-size: 3rem;
    font-weight: 700;
    color: #e1bb34;
    text-transform: uppercase;
    margin-top: 15px;
}

.avatar__username > .avatar__clan__name {
    all: unset;
    font-size: 1.5rem;
    background: -webkit-linear-gradient(#fff, #828282);
    color: #fff;
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: none;
}

.avatar__rank {
    font-family: cinzel;
    font-size: 3.5rem;
    font-weight: 700;
    color: #e1bb34;
    text-transform: uppercase;
    margin-left: auto;
}

.avatar__picture {
    width: 80px;
    height: 80px;
    margin: 6px 5px 6px 0;
    background: linear-gradient(#010b10,#02131a);
    border: 1px solid #2c3d49;
    border-radius: 50%;
    box-shadow: inset 0 0 5px 5px #141414, 0 0 5px 5px rgba(0,0,0,.3);
}

.avatar__summary__stats {
    display: flex;
    flex-direction: column;
}

.avatar__summary__header {
    font-family: cinzel;
    font-size: 3rem;
    font-weight: 700;
    color: #e1bb34;
    text-transform: uppercase;
    margin-top: 20px;
}

.avatar__last__update__header {
    display: flex;
    margin-top: 15px;
    color: white;
    justify-content: space-between;
}


.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out.hide {
    opacity: 0;
}

.avatar__badges {
    display: flex;
    background: #071F2A;
    padding: 10px 32px;
    gap: 7px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.avatar__gamemode {
    display: flex;
    width: 18px;
}

.avatar__last__update__timer {
    margin-left: auto;
}

.avatar__death__details {
    display: flex;
    width: 21px;
    height: 20px;
}

.avatar__death__image {
    margin-left: 10px;
}

.death__icon__container {
    display: none;
}

.avatar__death__image:hover + .death__icon__container {
    display: block;
    background: url(../img/website/profile_background.png) repeat 0 0;
    padding: 5px 10px;
    font-size: 1em;
    position: absolute;
    border: 1px solid grey;
    box-shadow: 0 0 3px 3px black;
    text-transform: uppercase;
}

.death__icon__title {
    color: #e1bb34;
    font-weight: 700;
}
